.user-interface
{
    .form-block
    {
        margin-bottom: 25px;
    }
    .action-list-wrapper
    {
        margin-top: 25px;
        justify-content: center;
        align-content: center;
        display: flex;
        .action-list
        {
            li
            {
                float: left;
                list-style: none;
                margin-right: 20px;
                a
                {
                    text-decoration: none;
                }
            }
        }
    }
}

.test
{
    width: 600px;
}