<div class="user-interface">
    <terra-overlay #DataOverlay>
        <div class="user-data">
            <div class="form-block">
                <terra-portlet inputPortletHeader="Persönliche Daten">
                    <terra-text-input
                        inputName="Vorname"
                        [(ngModel)]="_customerData[0]">
                    </terra-text-input>
                    <terra-text-input
                        inputName="Nachname"
                        [(ngModel)]="_customerData[1]">
                    </terra-text-input>
                    <terra-text-input
                        inputName="Ausbildungsjahr"
                        [(ngModel)]="_customerData[2]">
                    </terra-text-input>
                    <terra-text-input
                        inputName="Berichtsnummer"
                        [(ngModel)]="_customerData[3]">
                    </terra-text-input>
                    <terra-text-input
                        inputName="Abteilung"
                        [(ngModel)]="_customerData[4]">
                    </terra-text-input>
                </terra-portlet>
            </div>
        </div>
        <div class="textarea-container">
            <div class="form-block">
                <terra-portlet inputPortletHeader="Wochenberichte">
                    <div>
                        <p>Montag</p>
                        <terra-note-editor
                            [inputPlaceholder]="'Was hast du Montag gemacht?'"
                            [(ngModel)]="_textForeachDay[0]">
                        </terra-note-editor>
                    </div>
                    <div>
                        <p>Dienstag</p>
                        <terra-note-editor
                            [inputPlaceholder]="'Was hast du Dienstag gemacht?'"
                            [(ngModel)]="_textForeachDay[1]">
                        </terra-note-editor>
                    </div>
                    <div>
                        <p>Mittwoch</p>
                        <terra-note-editor
                            [inputPlaceholder]="'Was hast du Mittwoch gemacht?'"
                            [(ngModel)]="_textForeachDay[2]">
                        </terra-note-editor>
                    </div>
                    <div>
                        <p>Donnerstag</p>
                        <terra-note-editor
                            [inputPlaceholder]="'Was hast du Donnerstag gemacht?'"
                            [(ngModel)]="_textForeachDay[3]">
                        </terra-note-editor>
                    </div>
                    <div>
                        <p>Freitag</p>
                        <terra-note-editor
                            [inputPlaceholder]="'Was hast du Freitag gemacht?'"
                            [(ngModel)]="_textForeachDay[4]">
                        </terra-note-editor>
                    </div>
                </terra-portlet>
            </div>
        </div>
        <div class="new-date">
            <div class="form-block">
                <terra-portlet inputPortletHeader="Neues Datum">
                    <div>
                        <terra-date-picker inputName="Startdatum"
                                           [(ngModel)]="_dateRange[0]">
                        </terra-date-picker>
                        <terra-date-picker inputName="Enddatum"
                                           [(ngModel)]="_dateRange[1]">
                        </terra-date-picker>
                    </div>
                    <div>
                        <terra-button inputCaption="Save Date"
                                      (outputClicked)="changeWeekDate()">
                        </terra-button>
                    </div>
                </terra-portlet>
            </div>
        </div>
    </terra-overlay>
    <terra-button inputCaption="Add Data"
                  (outputClicked)="openDataOverlay()"></terra-button>
    <terra-button inputCaption="Clear Data"
                  (outputClicked)="clearData()">
    </terra-button>
</div>
<div class="toHtml" style="display:none;">
    <div class="doc-template-wrapper" style="">
        <div class="doc-template" style="width: 725px;margin-left: auto;margin-right: auto;">
            <div class="header">
                <div>
                    <p>
                        <strong>Name und Vorname des Auszubildenden:</strong> {{_customerData[1]}}, {{_customerData[0]}} </p>
                    <p align="RIGHT">
                        <span><strong>{{_customerData[2]}}. Ausbildungsjahr</strong></span>
                    </p>
                    <p>
                        <span><strong>Ausbildungsnachweis Nr.</strong> {{_customerData[3]}}</span>
                    </p>
                    <p align="RIGHT">
                        <span><strong>für die Woche vom</strong> {{_currentWeekDateRange[0]['monday']}} bis {{_currentWeekDateRange[0]['friday']}}</span>
                    </p>
                    <p>
                        <strong>Betrieblicher Funktionsbereich:</strong> {{_customerData[4]}}
                    </p>
                </div>
            </div>
            <div class="table-content">
                <table width="723" border="2" cellpadding="6" cellspacing="0">
                    <tbody>
                    <tr>
                        <td width="74">
                            <strong>Datum</strong>
                        </td>
                        <td colspan="2" width="450">
                            <p align="CENTER">
                                <strong>
                                    Betriebliche Tätigkeiten, Betriebliche Schulungen,
                                    Berufsschulunterricht usw.
                                </strong>
                            </p>
                        </td>
                        <td width="74">
                            <p align="CENTER">
                                <strong>
                                    Einzel-
                                    <br/>
                                    stunden
                                </strong>
                            </p>
                        </td>
                        <td width="73">
                            <p align="CENTER">
                                <strong>Gesamt-stunden</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="74">
                            {{_currentWeekDateRange[0]['monday']}}
                        </td>
                        <td colspan="2" width="450">
                            <p align="LEFT" class="text" [innerHTML]="_textForeachDay[0]">
                            </p>
                        </td>
                        <td width="74">
                            <p align="CENTER">
                            </p>
                        </td>
                        <td width="73">
                            <p align="CENTER">
                                0
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="74">
                            {{_currentWeekDateRange[0]['tuesday']}}
                        </td>
                        <td colspan="2" width="450">
                            <p align="LEFT" class="text" [innerHTML]="_textForeachDay[1]">
                            </p>
                        </td>
                        <td width="74">
                            <p align="CENTER">
                            </p>
                        </td>
                        <td width="73">
                            <p align="CENTER">
                                0
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="74">
                            {{_currentWeekDateRange[0]['wednesday']}}
                        </td>
                        <td colspan="2" width="450">
                            <p align="LEFT" class="text" [innerHTML]="_textForeachDay[2]">
                            </p>
                        </td>
                        <td width="74">
                            <p align="CENTER">
                            </p>
                        </td>
                        <td width="73">
                            <p align="CENTER">
                                0
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="74">
                            {{_currentWeekDateRange[0]['thursday']}}
                        </td>
                        <td colspan="2" width="450">
                            <p align="LEFT" class="text" [innerHTML]="_textForeachDay[3]">
                            </p>
                        </td>
                        <td width="74">
                            <p align="CENTER">
                            </p>
                        </td>
                        <td width="73">
                            <p align="CENTER">
                                0
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="74">
                            {{_currentWeekDateRange[0]['friday']}}
                        </td>
                        <td colspan="2" width="450">
                            <p align="LEFT" class="text" [innerHTML]="_textForeachDay[4]">
                            </p>
                        </td>
                        <td width="74">
                            <p align="CENTER">
                            </p>
                        </td>
                        <td width="73">
                            <p align="CENTER">
                                0
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" width="622">
                            <p align="RIGHT">
                                <strong>Gesamtstunden der Ausbildungswoche</strong>
                            </p>
                        </td>
                        <td width="73" valign="TOP">
                            <p align="CENTER">
                                00
                            </p>
                        </td>
                    </tr>
                    <tr valign="TOP">
                        <td colspan="2" width="354">
                            <p align="RIGHT">
                                <strong>Auszubildender</strong>
                            </p>
                            <p align="LEFT">
                                ....................
                                ...................................................
                            </p>
                            <p align="LEFT">
                                Datum und Unterschrift
                            </p>
                        </td>
                        <td colspan="3" width="341">
                            <p align="RIGHT">
                                <strong>Ausbildender bzw. Ausbilder</strong>
                            </p>
                            <p align="LEFT">
                                ....................
                                ................................................
                            </p>
                            <p align="LEFT">
                                Datum und Unterschrift
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <terra-button
        inputCaption="Speichern"
        (outputClicked)="saveAsDoc()">
    </terra-button>
</div>
<div>{{_newDocument}}</div>
<terra-alert-panel></terra-alert-panel>

